h1 {
    text-align: center;
}

.marker {
    height: 25px;
    width: 200px;

    /* to center an object, set margin to auto
    margin can take two inputs. The first for top and bottom.
    The second for left and right */
    margin: 10px auto;
}

/* 
1. rgb (red value, green value, blue value) 
   0 is minimum, while 255 is maximum
2. hex colors is a range [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, F]
   00 is minimum, while FF is maximum
3. hsl(hue, saturation, lightness)
*/

.red {
    background: linear-gradient(180deg, rgb(122, 74, 14) 0%, rgb(245, 62, 113) 50%,
    rgb(162, 27, 27)) 100%;
}

.green {
    background: linear-gradient(180deg, #55680D, #71F53E);
}

.blue {
    background-color: hsl(240, 100%, 50%);
}

.container {
    background-color: rgb(255, 255, 255);
    padding: 10px 0px;
}